.CSSTableGenerator {
margin:0px;padding:0px;
width:100%;	box-shadow: 10px 10px 5px #888888;
border:1px solid #000000;

-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;

-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;

-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;

-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}.CSSTableGenerator table{
width:100%;
height:100%;
margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
background-color:#ffffff;
}
.CSSTableGenerator td{
vertical-align:middle;min-width:50px;max-width:220px;

background-color:#d4ffaa;
border:1px solid #000000;
border-width:0px 1px 1px 0px;
text-align:left;
padding:7px;
font-size:14px;
font-family:Arial;
font-weight:normal;
color:#000000;
}.CSSTableGenerator tr:last-child td{
border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);
background-color:#5fbf00;
border:0px solid #000000;
text-align:center;
border-width:0px 0px 1px 1px;
font-size:14px;
font-family:Arial;
font-weight:bold;
color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);
background-color:#5fbf00;
}
.CSSTableGenerator tr:first-child td:first-child{
border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
border-width:0px 0px 1px 1px;
}

.ranktext {
	text-align:center;
	font-weight:400;
	border-bottom:1px solid #f3f3f3;
	border-right:0 solid #dfdfdf;
	height:auto;
	color:#a1a1a1;
	font-family:Tahoma, Arial, verdana, "Trebuchet MS";
	font-size:29px;
	padding:0 2px 2px;
}
.author {
	font-weight:700;
	color:#333333;
	font-family:Tahoma, Arial, verdana, "Trebuchet MS";
	font-size:11px;margin-bottom:3px;
}
.numtext {
	text-align:center;
        font-size:14px;   
}
.blogname {
	color:#666;
	font-family:Tahoma, Arial, verdana, "Trebuchet MS";
	font-size:11px;
	font-weight:400;
}
.blogname a:hover {
	color:#000;
font-family:Tahoma, Arial, verdana, "Trebuchet MS";
	font-size:11px;
	font-weight:400;
	text-decoration:none;
}
.rank_image{
	float: left;
	margin: 0px 5px 2px 0px;border: solid #f3f3f3;
}
.external {
	background: url(https://lh4.googleusercontent.com/-6VJuWNPsNMQ/U9OJ4-G9udI/AAAAAAAAApU/yKz0Z6ATfpk/h120/16_external.gif) no-repeat right center;
	padding-right: 20px;
}
.moment {
	align:center;
        font-size:14px;   
}